@model Comment
<div class="row">
    <div class="col-md-12">
        <div class="full comment_form">
            <form asp-action="AddComment" asp-controller="Comment" method="post" enctype="multipart/form-data">
                <fieldset>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <input asp-for="CommentUserName" placeholder="Kullanıcı Adı" required="#" />
                                <input asp-for="CommentTitle" placeholder="Başlık" required="#" />
                            </div>
                            <div class="col-md-6">
                                <textarea asp-for="CommentContent" placeholder="Mesaj"></textarea>
                            </div>
                        </div>
                        <div class="row margin_top_30">
                            <div class="col-md-12">
                                <div class="center">
                                    <button>Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
