@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>
<button id="getwriterlist" class="btn btn-outline-primary">Bütün Yazarları Getir.</button>
<button id="getwriter" class="btn btn-outline-succes">Tek Yazar Getir.</button>

<div class="col-md-12" id="getlistwriter">
</div>

<div class="col-md-12" id="getonewriter">
</div>
<div id="writerid">
    <input type="text" id="wid" class="form-control w-25" />
</div>
@section scripts{
    <script>
        $("#getwriterlist").click(function() {
            $.ajax({
                contentType: "application/json",
                content: "json",
                method: "Get",
                url: "/Admin/Writer/AjaxWriterList",
                success: function(func) {
                    let w = jQuery.parseJSON(func);
                    let htmlpage = "<table class='table-bordered'><tr><th>Yazar Id</th><th>Yazar Adı</th></tr>"
                    $.each(w, (index, value) => {
                        htmlpage += `<tr><td>${value.id}</td><td>${value.Name}</td></tr>`;

                    });
                    htmlpage += "</table>";
                    $("#getlistwriter").html(htmlpage);
                }

            });
        });

        $("#getonewriter").click(x=>{
            let value = $("#wid").val();
            $.ajax({
                contentType:"application/json",
                content:"json",
                method:"get",
                url:"/Admin/Writer/ajaxgetWriter",
                data:{id:value},
                success:function(func){
                    let val = jQuery.parseJSON(func);
                    lethtmlpage = "<table class='table-bordered'>
                        <tr>
                            <th>yazar Id</th>
                            <th>yazar adı</th
                        </tr>
                        <tr>
                            <td>${val.id}</td>
                            <td>${val.Name}</td>
                        </tr>
                    </table>"
                }

            });
        });







    </script>
}