@model Contact
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contact-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contactheading">
                    <h3>contact Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full comment_form">
                    <form asp-action="Contact" asp-controller="Home" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" asp-for="ContactName" placeholder="Name" required="#" />
                                        <input type="email" asp-for="ContactMail" placeholder="Email" required="#" />
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="wdt" asp-for="ContactMessage" placeholder="Comment"></textarea>
                                    </div>
                                </div>
                                <div class="row margin_top_30">
                                    <div class="col-md-12">
                                        <div class="center">
                                            <button>Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
