
@{
    ViewData["Title"] = "GetBlogTitleList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>GetBlogTitleList</h1>



<a class="btn btn-success" asp-action="ExportDynamicListExcel" asp-controller="Blog">Blog Listesini Excele Aktar.</a>
