
@{
    ViewData["Title"] = "GetBlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>GetBlogListExcel</h1>
<a class="btn btn-primary" asp-action="ExportStaticExcelBlogList" asp-controller="Blog">Blog Listesini Excele Aktar.</a>
